
  <div class="footer-top">
        <div class="contenedor-top">
            <div class="left">    
            <div class="footer-section">
                <img src="/assets/images_footer/Group, User.svg" class="icon">
                <h3>¿Necesitas asesoría?</h3>
                <p>Resolvemos tus dudas y te ayudamos a elegir producto.</p>
                <a href="#">Solicita tu asesoría</a>
            </div>
            
            <div class="footer-section">
                <img src="/assets/images_footer/Question, Loading.svg" class="icon">
                <h3>¿Tienes preguntas?</h3>
                <p>Tenemos una respuesta para cada una de ellas.</p>
                <a href="#">Preguntas frecuentes</a>
            </div>
            
            <div class="footer-section">
                <img src="/assets/images_footer/Phone, Call.svg" class="icon">
                <h3>Llámanos</h3>
                <p>Para asistencia inmediata, comunícate con nosotros.</p>
                <a href="#">Líneas de atención</a>
            </div>
            
            <div class="footer-section">
                <img src="/assets/images_footer/Messages, Chat 3.svg" class="icon">
                <h3>¿Tienes una solicitud o reclamo?</h3>
                <p>Gestiona tus solicitudes de manera rápida y sencilla.</p>
                <a href="#">Envía tu solicitud</a>
            </div>
            </div>
            <div class="right">
                <a href="" target="_blank">
                    <img src="/assets/images_footer/logo-youtube.svg" alt="YouTube" class="icono-social" />
                </a>
                <a href="" target="_blank">
                    <img src="/assets/images_footer/logo-linkedin.svg" alt="LinkedIn" class="icono-social" />
                </a>
                <a href="" target="_blank">
                    <img src="/assets/images_footer/X.svg" alt="X" class="icono-social" />
                </a>
                <a href="" target="_blank">
                    <img src="/assets/images_footer/logo-facebook.svg" alt="Facebook" class="icono-social" />
                </a>
                <a href="" target="_blank">
                    <img src="/assets/images_footer/logo-instagram.svg" alt="Instagram" class="icono-social" />
                </a>
            </div>

        </div>
  </div>

  <div class="footer-middle">
    <div class="contenedor-middle">
        <div class="left">
    
            <p><a href="#">Legal y políticas</a></p>
            <p><a href="#">Tarifas del 2025</a></p>
            <p><a href="#">Licitación Banca Seguros</a></p>
            <p><a href="#">Haz tus pagos</a></p>
            <p><a href="#">Línea ética</a></p>
        </div>
        <div class="right">
            <p>© Banco de Occidente Todos los Derechos Reservados</p>
        </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="contenedor-bottom">
        <div class="left">
            <img src="/assets/images_footer/Grupo Aval.png" alt="Grupo Aval" />
            <img src="/assets/images_footer/fiduoccidente.svg" alt="Fiduciaria" />
            <img src="/assets/images_footer/banco_de_occidente_barbados.svg" alt="Occidental Bank" />
            <img src="/assets/images_footer/banco_de_occidente_panama.svg" alt="Banco de Occidente" />
            <img src="/assets/images_footer/Ciudad Emresarial.png" alt="Ciudad Empresarial" />
            <img src="/assets/images_footer/logo_red_aval.svg" alt="Red Aval" />
            <img src="/assets/images_footer/NEXA BLANCO.png" alt="Nexp" />
            <img src="/assets/images_footer/logo_dale_oscuro.svg" alt="Dale" />
            <img src="/assets/images_footer/tu_plus.svg" alt="Tuplús" />
        </div>
        <div class="right">
            <img src="/assets/images_footer/vigilado.svg" alt="Superintendencia" />
        </div>
    </div>

  </div>

