<header>

  <nav class="navbar_left">
    <a href="/pages/paginas(11-22)/sobre_nossotros.html" class="nav-link">Personas</a>
    <a href="/pages/paginas(11-22)/empresas.html" class="nav-link">Empresas</a>
  </nav>
  <nav class="navbar_right">
    <a href="/pages/paginas(11-22)/quienes.html" class="nav-link">Quiénes Somos</a>
    <a href="/pages/paginas(11-22)/transparencia.html" class="nav-link">Transparencia</a>
    <a href="/pages/paginas(11-22)/sostenibilidad.html" class="nav-link">Sostenibilidad</a>
    <a href="/pages/paginas(11-22)/ayuda.html" class="nav-link">Ayuda y asesoría</a>
    <a href="/pages/paginas(11-22)/encuentranos.html" class="nav-link">Encuéntranos</a>
  </nav>
</header>
