
/* GENERAL */
:root{
  --color_border_radius_buttom_4: rgb(196, 214, 221);
  --back_ground-card_4: rgb(243, 247, 248);
}


.content_options[data-card="leasing"] .card {
  background: var(--back_ground-card_4); 
  border: 1px solid var(--color_border_radius_buttom_4);
}



.content_options[data-card="leasing"] .card-texto p:first-of-type {
  border: 1px solid var(--color_border_radius_buttom_4);
   color: #333333;

}