<div class="sub-navbar">
  <div class="sub-navbar-left">
    <img src="../../assets/images/Banco de Occidente, S.A._id8N_qroES_1.svg" alt="Logo" class="logo" />
  </div>
  <div class="sub-navbar-right">
    <a href="#">Canales digitales</a>
    <a href="#">Segmentos</a>
    <a href="#">Mesa de dinero</a>
    <a href="#">Haz tus pagos</a>
    <button class="btn-ingresar">👤 Ingresar</button>
  </div>
</div>

<div class="sub-sub-navbar"> 
  <a href="#">Cuentas</a>
  <a href="#">Tarjetas de Crédito</a>
  <a href="#">Crédito</a>
  <a href="#">Seguros</a>
  <a href="#">Inversión</a>
  <a href="#">Solicitar en línea</a>
</div>
